p =t.email.dear_format(message.first_name, message.last_name)
-for para in t.email.text[message.subject].translation_keys
  p=t.email.text[message.subject][para]
p=t.email.bot
p=t.email.dnr
p: a href="http://#app_info['host']" =app_info['host']
