p =t.email.dear_format(message.first_name, message.last_name)
-for para in t.email.notification.translation_keys
  p=t.email.notification[para]
p: strong=t.email.details
p=t.email.concerning[message.subject]
p=t.email.from_format(message.first_name, message.last_name)
p=t.email.sender_format(message.email)
p=t.email.phone_format(message.phone)
p=t.email.country_format(t.country[message.country])
pre==message.what
p=t.email.bot
p=t.email.dnr
p: a href="http://#app_info['host']" =app_info['host']
